.x_label
{
	display:none;
}
#y_axis,#y_axis>svg
{
	width:80px!important;
}
#y_axis,#chart
{
	display:inline-block; 
	vertical-align:top;
	position: relative;
}

#x_axis,#slider
{
	position: relative;
	left: 84px; 
	bottom:30px;
}
#x_axis>svg
{
	height: 110px;
}
#slider
{
	width:900px;
}
#legend
{
	top:-450px;
	float:right;
}

.chart_wrap
{
	width:1100px;
	padding-top:50px;
}

#x_axis>svg>g>g>text{
text-anchor:end!important;
display:inline-block;
transform: translate(0px,23px) rotate(340deg);
-ms-transform: translate(0px,23px) rotate(340deg);
-webkit-transform: translate(0px,23px) rotate(340deg); 
-o-transform: translate(0px,23px) rotate(340deg); 
-moz-transform: translate(0px,23px) rotate(340deg); 
}
	body
	{
		height:600px;
		/*verflow-y: hidden; */
		font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight:500;
	}

    
	
.arc path {
  /*stroke:#fff;*/
  
}
.pielabel
{
	opacity:0.7;
	padding:2px 5px 2px 5px;
	border-radius:5px;
	display:none;
	background-color:#000;
	position:absolute;
	color:white;
	text-align:center;
}
.legend
{
	display:none;
	font-size:9pt!important;
}

.showlegend
{
	text-decoration:none!important;
}