.CodeMirror {
        float: left;
        width: 95%;
        border: 2px solid black;
        margin-left: 5px;
      }
      iframe {
        width: 100%;
        float: left;
        height: 550px;
        border: 2px solid black;
        margin-top: 5px;
        margin-left: 5px;
      }