/* 
	hbase styles
	important: these should be namespaced
	example:
		let's say you are creating an app called "calculator"; you should prefix all your styles with your application's name like so
		
		.calculator img {
			border: 1px solid #000;
		}
		.calculator p {
			margin: 10px 0px;
		}
		etc...

	other notes:
	* don't use ids - there may be more than one of your apps open; use classes!
	* the toolbar element is absolutely positioned and 100% wide (and therefor 0px high);
	  any elements inside it should also be absolutely positioned
*/

.hbase img.hbase_icon {
	width: 55px;
	height: 55px;
	position: absolute;
	top: 27px;
	left: 3px;
}

.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}
.show-grid [class*="span"]:hover {
  background-color: #ddd;
}
.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
  margin-top: 5px;
}
.show-grid [class*="span"] [class*="span"] {
  background-color: #ccc;
}
.show-grid [class*="span"] [class*="span"] [class*="span"] {
  background-color: #999;
}



  .accordion {
    margin: 0;
  }

  .hrow {
    border: 2px solid #ccc;
  }

  .hrow textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }

  .accordion-heading {
    text-align: left;
    position: relative;
  }

  .cells-wrap {
    white-space: nowrap;
    overflow-x: auto;
    text-align: left;
  }

  .rowhead {
    display: inline-block;
  }
  
  .hcell {
    margin: 5px !important;
    min-width: 100px;
    width: auto;
    display: inline-block !important;
    float: none !important;
    overflow: hidden;
    vertical-align: top;
    transition-property: width 1s;
    transition-property: height 1s;
  }

  .hcell p {
    word-wrap: break-word;
    white-space: normal;
  }

  .hcell textarea {
    max-width: 105px;
  }

  .hcell-value {
    width: 100px;
    display: inline-block;
    vertical-align: top;
  }

  .hcell-versions {
    display: inline-block;
    overflow-x: hidden;
    width: 190px;
    vertical-align: top;
    
  }

  .hcell-versions ul {
    text-align: left;
    list-style: none;
    word-wrap: break-word;
    white-space: normal;
  }

  .hcell-versions li{
    border-bottom: 1px solid #999;
  }

  .v-show {
    width: 300px !important;
  }

  .shadow {
    -webkit-box-shadow: rgb(17, 17, 17) 0px 0px 10px -4px inset;
    -moz-box-shadow: rgb(17, 17, 17) 0px 0px 10px -4px inset;
    box-shadow: rgb(17, 17, 17) 0px 0px 10px -4px inset;
  }

  .label-info {
    background-color: #3ea211;
  }

  .pull-right {
    margin-right: 10px;
  }

  .cell-control {
    line-height: 20px;
    text-align: right;
    padding: 5px;
  }
