<!DOCTYPE html>
<html>
    <head>
        <title>Hortonworks HDP Sandbox 1.0</title>
        <script>
            function addButtons(tutorials_doc, code) {
                var detaches = tutorials_doc.getElementsByClassName('detach');
                if (detaches.length && tutorials_doc.body.clientWidth <= 768) {
                    for(var i=0; i<detaches.length; i++) {
                        detaches[i].onclick = top.detach;
                    }
                } else {
                    var style = tutorials_doc.createElement('style');
                    style.type = 'text/css';
                    style.innerHTML =   'body { margin: 7px; padding: 0; } \
                                        .button {  \
                                            margin: 0; \
                                            border: 1px solid #666; \
                                            position: absolute;  \
                                            top: 5px;  \
                                            right: 5px;  \
                                            filter:alpha(opacity=30); \
                                            opacity: 0.8; \
                                            -moz-opacity: 0.8; \
                                            -khtml-opacity: 0.8; \
                                            text-decoration: none; \
                                            color: #222; \
                                            padding: 10px; \
                                            height: 20px; \
                                            width: 55px; \
                                            background-color: #EEE; \
                                            text-align: center; \
                                            -moz-border-radius: 15px; \
                                            border-radius: 15px; \
                                            z-index: 20000; \
                                        } \
                                        .button:hover {  \
                                            filter:alpha(opacity=100); \
                                            opacity: 1;  \
                                            -moz-opacity: 1; \
                                            -khtml-opacity: 1; \
                                        }';
                    tutorials_doc.getElementsByTagName('head')[0].appendChild(style);

                    var btn = tutorials_doc.createElement('div');
                    btn.innerHTML = code;
                    tutorials_doc.getElementsByTagName('body')[0].appendChild(btn);
                }
            }

            function addButtonsAttached() {
                var tutorials_doc = document.getElementById('c1').contentWindow.document;
                addButtons(tutorials_doc, '<a href="#" onclick="top.detach()" class="button">Detach</a>');
            }

            function attach() {
                var frameset = document.getElementsByTagName("frameset")[0];
                var tutorials_frame = document.getElementById('c1');
                frameset.cols = "30%, 70%";
                tutorials_frame.noResize = false;
                window.detachedTutorials.close();
            }

            function detach() {
                var frameset = document.getElementsByTagName("frameset")[0];
                var tutorials_frame = document.getElementById('c1');
                frameset.cols = "0%, 100%";
                tutorials_frame.noResize = true;
                detachedTutorials = window.open('/', 'Tutorials', 'fullscreen=yes,scrollbars=1');
                detachedTutorials.location = tutorials_frame.contentWindow.document.location;
                detachedTutorials.lessonsParent = window;
                window.detachedTutorials = detachedTutorials;
                detachedTutorials.onload = function() {
                    addButtons(detachedTutorials.document,
                               '<a href="#" onclick="window.lessonsParent.attach()" class="button">Attach</a>');
                }
                window.onbeforeunload=function() {window.detachedTutorials.close();}
            }
        </script>
    </head>
    <frameset cols="30%, 70%">
        <frame id='c1' src='/file/index.html' onload="addButtonsAttached()" noresize="noresize">
        <frame id='c2' src="${content}" noresize="noresize">
    </frameset>
</html>
