<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <title>Hortonworks Sandbox 1.2</title>
        
        <link rel="stylesheet" href="/file/css/jquery-ui.css" />
        <link rel="stylesheet" href="/file/plugins/fancybox/jquery.fancybox.css?v=2.1.3" type="text/css" media="screen" />
        <link rel="stylesheet" href="/file/css/frames.css" type="text/css" media="screen" />
        
        <script type="text/javascript" src="/file/js/jquery-1.8.3.js"></script>
        <script type="text/javascript" src="/file/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/file/plugins/fancybox/jquery.fancybox.pack.js?v=2.1.3"></script>
        <script type="text/javascript" src="/file/js/jquery.layout.min.js"></script>
        <script type="text/javascript" src="/file/js/jquery.smooth-scroll.min.js"></script>
        <script type="text/javascript" src="/file/plugins/responsive-image/responsiveImg.js"></script>

        <script type="text/javascript" src="/file/js/main.js"></script>
        <script>
            $(document).ready(function()
            {
                myLayout = $('body').layout({ 
                                    maskContents: true,
                                    west__size: '35%',
                                    minSize: 400,
                                    center__size: '65%',
                                    west__resizeWhileDragging: true,
                                    center__onresize: scale_function,
                                    onopen:             loadIframePage,
                                    effects: 
                                        {
                                          // MODIFY a standard effect
                                          slide: {
                                             all: { duration: 200, easing: "swing" }
                                          }
                                        },
                                    spacing_open: 8,
                                    spacing_closed: 10,
                                    togglerLength_open: 0,
                                    togglerLength_closed: "100%"
                                    });                              
                
            });
            function loadIframePage (pane, $Pane) 
            {
                if (!$Pane) $Pane = $('.ui-layout-'+ pane);
                var $Iframe = $Pane.prop('tagName')=='IFRAME' ? $Pane : $Pane.find('IFRAME:first');
                if (!$Iframe.length) return; // no iframe
                var
                    src  = $Iframe.attr('src')
                    ,   page = $Iframe.attr('longdesc');
                if (page && src != page) $Iframe.attr('src',page);
            }

            function scale_function(pane, $Pane) {
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <title>Hortonworks Sandbox 1.2</title>
        
        <link rel="stylesheet" href="/file/css/jquery-ui.css" />
        <link rel="stylesheet" href="/file/plugins/fancybox/jquery.fancybox.css?v=2.1.3" type="text/css" media="screen" />
        <link rel="stylesheet" href="/file/css/frames.css" type="text/css" media="screen" />
        
        <script type="text/javascript" src="/file/js/jquery-1.8.3.js"></script>
        <script type="text/javascript" src="/file/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/file/plugins/fancybox/jquery.fancybox.pack.js?v=2.1.3"></script>
        <script type="text/javascript" src="/file/js/jquery.layout.min.js"></script>
        <script type="text/javascript" src="/file/js/jquery.smooth-scroll.min.js"></script>
        <script type="text/javascript" src="/file/plugins/responsive-image/responsiveImg.js"></script>

        <script type="text/javascript" src="/file/js/main.js"></script>
        <script>
            $(document).ready(function()
            {
                myLayout = $('body').layout({ 
                                    maskContents: true,
                                    west__size: '35%',
                                    minSize: 400,
                                    center__size: '65%',
                                    west__resizeWhileDragging: true,
                                    center__onresize: scale_function,
                                    onopen:             loadIframePage,
                                    effects: 
                                        {
                                          // MODIFY a standard effect
                                          slide: {
                                             all: { duration: 200, easing: "swing" }
                                          }
                                        },
                                    spacing_open: 8,
                                    spacing_closed: 10,
                                    togglerLength_open: 0,
                                    togglerLength_closed: "100%"
                                    });                              
                
            });
            function loadIframePage (pane, $Pane) 
            {
                if (!$Pane) $Pane = $('.ui-layout-'+ pane);
                var $Iframe = $Pane.prop('tagName')=='IFRAME' ? $Pane : $Pane.find('IFRAME:first');
                if (!$Iframe.length) return; // no iframe
                var
                    src  = $Iframe.attr('src')
                    ,   page = $Iframe.attr('longdesc');
                if (page && src != page) $Iframe.attr('src',page);
            }

            function scale_function(pane, $Pane) {
                var frame = $Pane[0];
                var p = 1.0;
                if (frame.clientWidth < 650) {
                    p = $Pane[0].clientWidth/650;
                }

                console.log(p);

                frame.style["-webkit-transform"] = "scale("+p+")";
                frame.style["-webkit-transform-origin"] = "0 0";
                frame.style["-o-transform"] = "scale("+p+")";
                frame.style["-o-transform-origin"] = "0 0";
                frame.style["MozTransform"] = "scale("+p+")";
                frame.style["MozTransformOrigin"] = "0 0";
                frame.style.width = frame.clientWidth/p + "px";
                frame.style.height = frame.clientHeight/p + "px";
            }
        </script>
    </head>
    <body>
        <iframe id="c2" class="ui-layout-center" src="${content}" frameborder="0"></iframe>
        <iframe id="c1" class="ui-layout-west" src="/file/index.html" frameborder="0"></iframe>
    </body>
</html>
            }
        </script>
    </head>
    <body>
        <iframe id="c2" class="ui-layout-center" src="${content}" frameborder="0"></iframe>
        <iframe id="c1" class="ui-layout-west" src="/file/index.html" frameborder="0"></iframe>
    </body>
</html>