<!DOCTYPE html>
<html>
    <head>
        <title>Lessons</title>
        <link href="/static/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
        <script src="/static/js/jquery.min.js" type="text/javascript"></script>
        <script src="/static/ls/jquery-ui.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#accordion").accordion();
            });
        </script>
    </head>
    <body>
        <div>Steps:</div>
        <ul id='accordion'>
        % for x in steps:
          <li><a href="/lesson/${x.section.id}/${x.order}">${x.name}</a>
        </li>
        % endfor
        </ul>
    </body>
</html>
