<link rel="stylesheet" type="text/css" href="/hcatalog/static/css/detail.css">
<link rel="stylesheet" type="text/css" href="/hcatalog/static/css/graph.css">
<link rel="stylesheet" type="text/css" href="/hcatalog/static/css/legend.css">
<link rel="stylesheet" type="text/css" href="/hcatalog/static/css/chart.css">
<script src="/hcatalog/static/js/d3.v3.min.js"></script>
<script src="/hcatalog/static/js/lib/d3.layout.min.js"></script> 
<script src="/hcatalog/static/js/lib/rickshaw.min.js"></script> 
<script src="/hcatalog/static/js/chart.js"></script> 

<div id="y_axis"></div> 
<div id="chart"></div>
<div id="x_axis"></div>
<div id="legend"></div> 
