<!DOCTYPE>
<html>
	<head>
		<title></title>
	</head>
	<body>
		% if auth:
			<form action="" method="post">
				<input type="submit" name="logout" value="logout"/>
			</form>
		% else:
			<form action="" method="post">
				<div>Login</div>
				<input type="text" name="username"/><br/>
				<div>Password</div>
				<input type="password" name="password"/><br/>
				<input type="submit" name="login" value="login"/>
			</form>
		% endif<br/>
		<a href="/"><- Back</a>
	</body>
</html>