<!DOCTYPE html>
<html>
    <head>
        <style>
            .step-block { padding: 10px; }
            .arrows { width: 30px; margin-bottom: -10px; }
            .step-block a { color: #00B5E1; }
        </style>
    </head>
    <body>
        <div class="step-block">
            <a href="/lessons/lesson"><img src="/static/back.png" class="arrows">
                Back to lessons
            </a><br><br>
            ${step.name}<br>
            <b>Step ${step.order}</b>
        </div>
    </body>
</html>
